:root {
  --yellow: #dbac2c;
  --yellowLight: #f1e9c9;
  --yellowDark: #c47f17;

  --purple: #8047f8;
  --purpleLight: #ebe5f9;
  --purpleDark: #4b2995;

  --white: #fff;
  --background: #fafafa;
  --card: #f3f2f2;
  --input: #eeeded;
  --button: #e6e5e5;
  --hover: #d7d5d5;
  --label: #8d8686;
  --text: #574f4d;
  --subtitle: #403937;
  --title: #272221;
}
